@charset "UTF-8";
* {
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.main-content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
/* home */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  border-radius: 10px;
  margin-bottom: 100px;
  margin-bottom: 100px;
}
.about-content {
  padding: 30px;
}
.about-title {
  max-width: 1000px;
}
#about-paragraph {
  max-width: 1000px;
  font-size: 16px;
}
.about-btn {
  padding: 10px;
  background-color: rgb(255, 127, 232);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5ms;
}
.about-btn > a {
  text-decoration: none;
  color: #242424;
  font-weight: 600;
  font-size: 16px;
}
.cards-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-bg {
}
/* footer */
.footerstyle {
  background-color: #ccc;
}

/* Scroolbar */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #b1afafed;
  /* border-radius: 0px; */
}
